<a href="https://colab.research.google.com/github/ameyss97/my_python/blob/main/Basic_Python_Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to check if a string is a palindrome.

In [ ]:
def is_palindrome(string):
    reversed_string = string[::-1]
    return string == reversed_string

# Test the function
word = "madam"
if is_palindrome(word):
    print(f"{word} is a palindrome")
else:
    print(f"{word} is not a palindrome")
# madam is a palindrome

madam is a palindrome

In [ ]:
n = 1234322
p = n
i = 0
l1 = []
while n > 0:
    i = n % 10
    n = n // 10
    l1.append(i)
l2 = l1.copy()
l1.reverse()
if l1 == l2:
    print(p, ' is a palindrome')
else:print(p, ' is not a palindrome')

1234322  is not a palindrome

2. Write a Python program to find the factorial of a number.

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

# Test the function
number = 15
result = factorial(number)
print(f"The factorial of {number} is {result}")
# The factorial of 15 is 1307674368000

The factorial of 15 is 1307674368000

In [ ]:
n = int(input("Enter number you want to find factorial of: "))
i = 1
while n > 0:
    i *= n
    n -= 1

print(i)

Enter number you want to find factorial of: 15
1307674368000

In [ ]:
# Using for loop, write and run a Python program to find factorial from 0 to 10.
n = int(input('Enter number upto use factorial you want: '))

for i in range(0,n+1):
    if i == 0:
        print(1)
    else:
        k = 1
        while i > 0:
            k = k*i
            i -= 1
        print(k)

Enter number upto use factorial you want: 15
1
1
2
6
24
120
720
5040
40320
362880
3628800
39916800
479001600
6227020800
87178291200
1307674368000

3. Write a Python program to find the largest element, smallest element and average in a list.

In [ ]:
def know_the_list(numbers):
    smallest = numbers[0]
    largest = numbers[0]
    total = 0
    for num in numbers:
        if num < smallest:
            smallest = num
        if num >= largest:
            largest = num
        total += num
    avg = total/len(numbers)
    return smallest, largest, avg

# Test the function
nums = [10, 5, 8, 20, 3]
smallest_num, largest_num, avg_list = know_the_list(nums)
print(f"Smallest number in the list is {smallest_num}")
print(f"Largest number in the list is {largest_num}")
print(f"Average of all numbers in the list is {avg_list}")
# Smallest number in the list is 3
# Largest number in the list is 20
# Average of all numbers in the list is 9.2

Smallest number in the list is 3
Largest number in the list is 20
Average of all numbers in the list is 9.2

4. Write a Python program to reverse a string.

In [ ]:
def reverse_string(string):
    return string[::-1]

# Test the function
text = "Hello, World!"
reversed_text = reverse_string(text)
print(reversed_text)
# !dlroW ,olleH

!dlroW ,olleH

5. Write a Python program to count the frequency of each element in a list.

In [ ]:
def count_frequency(numbers):
    frequency = {}
    for num in numbers:
        if num in frequency:
            frequency[num] += 1
        else:
            frequency[num] = 1
    return frequency

# Test the function
nums = [1, 2, 3, 2, 1, 3, 2, 4, 5, 4]
frequency_count = count_frequency(nums)
print(frequency_count)
# {1: 2, 2: 3, 3: 2, 4: 2, 5: 1}
for ele in frequency_count.keys():
    print(f"Frequency of {ele} is {frequency_count[ele]}")

{1: 2, 2: 3, 3: 2, 4: 2, 5: 1}
Frequency of 1 is 2
Frequency of 2 is 3
Frequency of 3 is 2
Frequency of 4 is 2
Frequency of 5 is 1

In [ ]:
def find_count(string1):
    count_dict = {}
    for ele in string1:
        if ele in count_dict.keys():
            count_dict[ele] += 1
        else:
            count_dict[ele] = 1

    return count_dict
# Test the function
string_t = 'My name is Amey'
 #counter : small capital ?
result = find_count(string_t)
print(result)

{'M': 1, 'y': 2, ' ': 3, 'n': 1, 'a': 1, 'm': 2, 'e': 2, 'i': 1, 's': 1, 'A': 1}

6. Write a Python program to check if a number is prime.

In [ ]:
def is_prime(number):
    if number < 2:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True

# Test the function
num = 17
if is_prime(num):
    print(f"{num} is a prime number")
else:
    print(f"{num} is not a prime number")
# 17 is a prime number

17 is a prime number

In [ ]:
n = int(input("Enter the Number: "))
flag = False
if n == 1:
    print(n,' is neither prime nor composite')
else:
    for i in range(2,int(n**(1/2))):
        if n % i == 0:
            flag = True
            break

    if flag:
        print(n, 'is NOT prime number')
    else:
        print(n, ' is a prime number')

Enter the Number: 29
29  is a prime number

In [ ]:
n = int(input("Enter range for prime number: "))

l = []
if n == 1:
    print(2)
else:
    for i in range(2,n):
        flag = False
        for j in range(2,i):
            if i % j == 0:
                flag = True
        if flag == False:
            l.append(i)

print(l)

Enter range for prime number: 43
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41]

7. Write a Python program to find the common elements between two lists.

In [ ]:
def common_slice(list1:list, list2:list) -> list:
    l1 = list1.copy()
    l2 = list2.copy()
    result = []
    for ele in l1:
        if ele in l2:
            result.append(ele)
            l2.remove(ele)
    return result

# Test the function
test_list1 = [1,1,2,3,3,4]
test_list2 = [1,3,3,4,4]
result = common_slice(test_list1, test_list2)
print(f"{result} is common between {test_list1} and {test_list2}")
# [1, 3, 3, 4] is common between [1, 1, 2, 3, 3, 4] and [1, 3, 3, 4, 4]

[1, 3, 3, 4] is common between [1, 1, 2, 3, 3, 4] and [1, 3, 3, 4, 4]

8. Write a Python program to sort a list of elements using the bubble sort algorithm.

In [ ]:
def bubble_sort(elements):
    n = len(elements)
    for i in range(n - 1):
        for j in range(n - i - 1):
            if elements[j] > elements[j + 1]:
                elements[j], elements[j + 1] = elements[j + 1], elements[j]
                print(elements)

# Test the function
nums = [5, 2, 8, 1, 9, 1]
bubble_sort(nums)
print(nums)
# [1, 1, 2, 5, 8, 9]

[2, 5, 8, 1, 9, 1]
[2, 5, 1, 8, 9, 1]
[2, 5, 1, 8, 1, 9]
[2, 1, 5, 8, 1, 9]
[2, 1, 5, 1, 8, 9]
[1, 2, 5, 1, 8, 9]
[1, 2, 1, 5, 8, 9]
[1, 1, 2, 5, 8, 9]
[1, 1, 2, 5, 8, 9]

In [ ]:
def bubble_sort(num_list:list) -> list:
    num_list2 = num_list.copy()
    for i in range(len(num_list2)-1):
        for j in range(len(num_list2)-i-1):
            if num_list2[j] > num_list2[j+1]:
                num_list2[j], num_list2[j+1] = num_list2[j+1], num_list2[j]
    return num_list2

# Test the function
nums = [4,3,2,1,0]
result = bubble_sort(nums)
print(f"{result} is bubble sorted list of {nums}")

[0, 1, 2, 3, 4] is bubble sorted list of [4, 3, 2, 1, 0]

9. Write a Python program to find the second largest number in a list.

In [ ]:
def find_second_largest(numbers):
    largest = float('-inf')
    second_largest = float('-inf')
    for num in numbers:
        if num > largest:
            second_largest = largest
            largest = num
        elif num > second_largest and num != largest:
            second_largest = num
    return second_largest

# Test the function
nums = [10, 5, 8, 20, 3, 20]
second_largest_num = find_second_largest(nums)
print(f"The second largest number is {second_largest_num}")
# The second largest number is 10

The second largest number is 10

10. Write a Python program to remove duplicates from a list.

In [ ]:
def remove_duplicates(numbers):
    unique_numbers = []
    for num in numbers:
        if num not in unique_numbers:
            unique_numbers.append(num)
    return unique_numbers

# Test the function
nums = [1, 2, 3, 2, 1, 3, 2, 4, 5, 4]
unique_nums = remove_duplicates(nums)
print(unique_nums) # [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
def remove_dupes(list1:list) -> list:
    set1 = set(list1.copy())
    unique_nums = list(set1)
    return unique_nums

# Test the function
nums = [1, 2, 3, 2, 1, 3, 2, 4, 5, 4]
result = remove_dupes(nums)
print(f"{result} is deduplicated version of {nums}")

[1, 2, 3, 4, 5] is deduplicated version of [1, 2, 3, 2, 1, 3, 2, 4, 5, 4]

11. Write a Python program to replace string space with a given character

In [ ]:
def str_replace(text,ch):
    result = ''
    for ele in text:
      if ele == ' ':
          ele = ch
      result += ele
    return result

# Test the function
text = "D t C mpBl ckFrid yS le"
ch = "a"
replaced_str = str_replace(text,ch)
print(replaced_str) # 'DataCampBlackFridaySale'

DataCampBlackFridaySale

12. Write a Python program to check if positive integer is valid square or not.

In [ ]:
def valid_square(num):
    square = int(num**0.5)
    check = square**2==num
    return check

# Test the function
num = 10
validity = valid_square(num)
if validity:
  print(f"{num} is a valid square")
else:
  print(f"{num} is not a valid square")
# 10 is not a valid square

num = 36
validity = valid_square(num)
if validity:
  print(f"{num} is a valid square")
else:
  print(f"{num} is not a valid square")
# 36 is a valid square

10 is not a valid square
36 is a valid square

13. Print Triangle star pattern

In [ ]:
def print_star_pattern(n):
    for i in range(1, n + 1):
        print('* ' * i)

# Test the function
n = 4
print_star_pattern(n)

*
* *
* * *
* * * *

14. Write a Python program to identify if the character is a vowel or consonant.

In [ ]:
def is_vowel(char) :
    if char.isalpha():
        if char in 'AaEeIiOoUu':
            print(f"{char} is a Vowel")
        else:
            print(f"{char} is a Consonent")
    else:
        print(f"{char} is not an alphabet")


checklist = ['1', '@', 'A', 's']
for char in checklist:
    is_vowel(char)

1 is not an alphabet
@ is not an alphabet
A is a Vowel
s is a Consonent

15. Fibonacci Series

In [ ]:
n = int(input("Enter the number of "))
a = 0
b = 1
i = 1
if n == 1:
    print(a)
elif n == 2:
    print(a,b)
else:
    print(a)
    print(b)
    while i < n:
        c = a+b
        a = b
        b = c
        print(c)
        i+=1

Enter the number of 12
0
1
1
2
3
5
8
13
21
34
55
89
144

In [ ]:
a = 0
b = 1
i = 2
c = 0
n = int(input("Enter Num: "))
if n == 1:
    print(a)
elif n == 2:
    print(a)
    print(b)
else:
    while i < n:
        c = a+b
        a = b
        b = c
        i += 1
    print(c)

Enter Num: 6
5

16. Number Swapping

In [ ]:
a = 1
b = 2
a,b = b,a
print(a)
print(b)

2
1

In [ ]:
c = 50
d = 100
t = 0
t = c
c = d
d = t
print(c)
print(d)

100
50

17. Write a program to Interchange First and Last Element of a List

In [ ]:
l1 = [1,2,3,4,5]
l1[0],l1[-1] = l1[-1],l1[0]
print(l1)

[5, 2, 3, 4, 1]

18. Replace single element ‘b’ in given list ['a', 'b', 'c', 'd', 'e'] with [1, 2, 3]

In [ ]:
l = ['a', 'b', 'c', 'd', 'e']
n = [1, 2, 3]
l[1] = n
# l.pop(1) and l.insert(1,n)
print(l)

['a', [1, 2, 3], 'c', 'd', 'e']

19. write a program to find index of element ‘e’ in given vowels list ['a', 'e', 'i', 'o', 'i', 'u']

In [ ]:
l1 = ['a', 'e', 'i', 'o', 'i', 'u']
print(l1.index('e'))

1

20. Write a python program to print sum of tuple elelments.

In [ ]:
from functools import reduce
tup = (1,2,3,4,5,6,7)
addn = lambda x,y:x+y

s = reduce(addn,tup)
print(s)

28

21. Accept the full name from user(Name Middlename Surname) in lowercase and Print it in title case.

In [ ]:
f_name = input('Enter Full Name in lowercase: ')
l1 = f_name.split(' ')
l2 = []
for i in l1:
    l2.append(i.capitalize())
str1 = ''
for j in l2:
    str1 += j + ' '
print(str1.strip())

Enter Full Name in lowercase: amey sadegaonkar
Amey Sadegaonkar

22. Write a function find_longest_word() that takes a list of words and returns the length of the longest word and that word itself.

In [ ]:
l1 = ['chennai','mumbai','asdfghjklzxcvb','nagpur','aaaaaaaaaaaaaa','delhi',
      'indore','ahemdabad','vishakhapatnam']

def find_longest_word(l2):
    max_length = 0
    for word in l2:
        if max_length < len(word):
            max_length = len(word)
    for w in l2:
        if len(w) == max_length:
            print(w,max_length)

find_longest_word(l1)

asdfghjklzxcvb 14
aaaaaaaaaaaaaa 14
vishakhapatnam 14

23. Print the given number in words.(eg.1234 => one two three four). numbers = [" ", "one", "two", "three", "four"]

In [ ]:
num_dict = {0:'zero',1:'one',2:'two',3:'three',4:'four',5:'five',
            6:'six',7:'seven',8:'eight',9:'nine'}
n = 10234567897654321
x = 0
l1 = []
while n > 0:
    x = n % 10
    n = n//10
    l1.append(num_dict[x])
l1.reverse()
s1 = ' '.join(l1)
print(s1.strip())

one zero two three four five six seven eight nine seven six five four three two one

24. Write a function filter_long_words() that takes a list of words and an integer len and returns the list of words that are longer than len

In [ ]:
l1 = ['chennai','mumbai','asdfghjklzxcvb','nagpur','aaaaaaaaaaaaaa','delhi',
      'indore','ahemdabad','vishakhapatnam']

def filter_long_words(l2):
    l3 = []
    n = int(input("Enter Length: "))
    for word in l2:
        if len(word) > n:
            l3.append(word)
    print(l3)

filter_long_words(l1)

Enter Length: 10
['asdfghjklzxcvb', 'aaaaaaaaaaaaaa', 'vishakhapatnam']

25. Write a version of a palindrome recognizer that also accepts phrase palindromes such as
- "Go hanga salami I'm a lasagna hog."
- "Was it a rat I saw?"
- "Step on no pets"
- "Sit on a potato pan, Otis"
- "Lisa Bonet ate no basil"
- "Satan, oscillate my metallic sonatas"
- "I  roamed under it as a tired nude Maori"
- "Rise to vote sir"
- "Dammit, I'm mad!"

Note that punctuation, capitalization, and spacing are usually ignored.

In [ ]:
str1 = input("Enter the String you want to check palindrome for: ")
str1 = str1.lower()
l1 = []
for s in str1:
    if s.isalpha():
        l1.append(s)

l2 = l1.copy()
l1.reverse()
if l1 == l2:
    print('Given String is a palindrome')
    print(l1)
    print(l2)
else:
    print("Give String is NOT a palindrome")

Enter the String you want to check palindrome for: "Dammit, I'm mad!"
Given String is a palindrome
['d', 'a', 'm', 'm', 'i', 't', 'i', 'm', 'm', 'a', 'd']
['d', 'a', 'm', 'm', 'i', 't', 'i', 'm', 'm', 'a', 'd']

26. Given a dictionary of students and their favourite colours:

people={'Arham':'Blue','Lisa':'Yellow',''Vinod:'Purple','Jenny':'Pink'}

1. Find out how many students are in the list
2. Change Lisa’s favourite colour
3. Remove 'Jenny' and her favourite colour
4. Sort and print students and their favourite colours alphabetically by name

In [ ]:
people={'Lisa':'Yellow','Vinod':'Purple','Jenny':'Pink','Arham':'Blue'}

#A.
print(len(people))

#B.
people['Lisa'] = 'Red'
print(people)

#C.
del people['Jenny']
print(people)

#D.
l1 = []
for i in people:
    l1.append(i)
l1.sort()
print(l1)
for j in l1:
    print(j,':',people[j])

4
{'Lisa': 'Red', 'Vinod': 'Purple', 'Jenny': 'Pink', 'Arham': 'Blue'}
{'Lisa': 'Red', 'Vinod': 'Purple', 'Arham': 'Blue'}
['Arham', 'Lisa', 'Vinod']
Arham : Blue
Lisa : Red
Vinod : Purple

27. A pangram is a sentence that contains all the letters of the English alphabet atleast once,
for example: The quick brown fox jumps over the lazy dog.

Your task here is to write a function to check a sentence to see if it is a pangram or not.

In [ ]:
l1 = ['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p', 'a', 's', 'd',
      'f', 'g', 'h', 'j', 'k', 'l', 'z', 'x', 'c', 'v', 'b', 'n', 'm']
n = input('Enter string you want to check for anagram: ')
l2 = []
for i in n:
    if i.isalpha():
        l2.append(i.lower())
l3 = list(set(l2))
l1.sort()
l3.sort()

if l1 == l3:
    print('Given sentence is a Panagram')
else:
    print('Given sentence is NOT a Panagram')

Enter string you want to check for anagram: The quick brown fox jumps over the lazy dog
Given sentence is a Panagram

28. Define a procedure histogram() that takes a list of integers and prints a
histogram to the screen.
For example, histogram([4, 9, 7]) should print the following:

`****`

`*********`

`*******`

In [ ]:
def histogram(l1):
    for i in l1:
        print('*' * i)

l1 = [4,9,7]
histogram(l1)

****
*********
*******

29. Write a function translate() that will translate a text into "rövarspråket"
(Swedish for "robber's language"). That is, double every consonant and place an
occurrence of "o" in between. For example, translate("this is fun") should return
the string "tothohisos isos fofunon".

In [ ]:
str1 = 'this is fun'
str2 = ''
vowels = ['a','e','i','o','u']
for i in str1:
    if i.isspace():
        str2 += i
    elif i not in vowels:
        str2 += i+'o'+i
    else:
        str2 += i
print(str2)

tothohisos isos fofunon

30. Write a program to sum all the values of a dictionary.

Hint: dict1 = {‘key 1’: 200, ‘key 2’: 300}

In [ ]:
from functools import reduce
dict1 = {'key 1': 200, 'key 2': 300}
addn = lambda x,y:x+y

s1 = reduce(addn,dict1.values())
print(s1)

500